node_modules
.git
*.log
*.tmp
.env
.env.*
!.env.template
.clinerules
.idea
.vscode
*.tsbuildinfo
**/.turbo
**/.next
# Keep .medusa build output (needed for medusa start)
# **/.medusa
**/dist
coverage
.nyc_output
